extends ../template

block variables
  - var title = 'Главная страница Агента'

block content
    main.components-container
        .stream-narrow
            section.header-with-caption
                h1 Агентский портал
                p.subtitle.subtitle-padding Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.

        .stream-wide.agents__fix.agents-fix
            h2.title Зафиксировать клиента
            form.form.ajax-form(enctype="multipart/form-data" method="POST" action autocomplete="on" novalidate="novalidate")
                ul.fields
                    li.half-size
                        input.form-control(data-required="yes" type="text" id="fio" value="" name="fio" required="")
                        label(for="fio") ФИО 
                        ul.messages
                            li.error Заполните поле
                    li.half-size
                        input.form-control(data-required="yes" type="text" id="birthDate" value="" name="birthDate" required="")
                        label(for="birthDate") Дата рождения
                        ul.messages
                            li.error Заполните поле
                    li.half-size
                        input.form-control(data-required="yes" type="text" id="phone" value="" data-type="phone" name="phone" required="" data-inputmask-mask="+7 (999) 999-9999" data-mask="+7 (999) 999-9999" data-has-mask="" inputmode="text")
                        label(for="phone") Телефон
                        ul.messages
                            li.error Заполните поле
                    li.half-size
                        input.form-control(data-required="yes" type="text" id="city" value="" name="city" required="")
                        label(for="city") Город
                        ul.messages
                            li.error Заполните поле
                    li
                        button.btn-orange(type="submit") Отправить заявку 
        .stream-wide
            h2.title Объекты
            section.slider-promo
                <form class="chooser-form" id="chooser-form" name="_form" action="/search/" method="get">
                    <ul class="fields">
                        <li class="checkboxes" data-for="rooms">
                            <ul class="row">
                                <li>
                                    <input type="checkbox" name="arrFilter_47_4108050209" id="arrFilter_47_4108050209" value="Y">
                                    <label for="arrFilter_47_4108050209">Ст</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="arrFilter_47_2212294583" id="arrFilter_47_2212294583" value="Y">
                                    <label for="arrFilter_47_2212294583">1к</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="arrFilter_47_450215437" id="arrFilter_47_450215437" value="Y">
                                    <label for="arrFilter_47_450215437">2к</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="arrFilter_47_1842515611" id="arrFilter_47_1842515611" value="Y">
                                    <label for="arrFilter_47_1842515611">3к</label>
                                </li>
                            </ul>
                        </li>
                        <li data-for="price">
                            <div class="range" data-name="PRICE" data-format="price" data-min="2661736" data-max="20977550">
                                <label>Цена (руб.)</label>
                                <ul class="inputs" data-min-range="0" data-step="1" data-decimal-places="0">
                                    <li>
                                        <span class="label">от</span>
                                        <span class="input">
                                            <input class="user-min" type="text" name="arrFilter_53_MIN" id="arrFilter_53_MIN_HIDDEN" value="2661736" style="width: 84px;">
                                            <span class="focus-out min">2661736</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="label">до</span>
                                        <span class="input">
                                            <input class="user-max" type="text" name="arrFilter_53_MAX" id="arrFilter_53_MAX_HIDDEN" value="20977550" style="width: 84px;">
                                            <span class="focus-out max">20977550</span>
                                        </span>
                                    </li>
                                </ul>
                                <div class="controls">
                                    <button class="min" type="button" style="left: 34.2682px;"></button>
                                    <button class="max" type="button" style="left: 220.621px;"></button>
                                    <span class="range" style="right: 16.4314%; left: 12.9804%;"></span>
                                </div>
                            </div>
                        </li>
                        <li class="checkboxes" data-for="deadline">
                            <input class="multiselect" type="checkbox" name="DEAD_LINE" id="DEAD_LINE98">
                            <div class="multiselect">
                                <label for="DEAD_LINE98">Срок сдачи</label>
                                <label class="multiselect" for="DEAD_LINE98">
                                    <span class="value" data-empty="Любой"></span>
                                    <span class="plus"></span>
                                </label>
                                <ul>
                                    <li>
                                        <input type="checkbox" name="arrFilter_98_300230734" id="arrFilter_98_300230734" value="Y" class="option">
                                        <label for="arrFilter_98_300230734">Дом сдан</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="arrFilter_98_3980580551" id="arrFilter_98_3980580551" value="Y" class="option">
                                        <label for="arrFilter_98_3980580551">IV кв. 2020 г.</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="arrFilter_98_1182655999" id="arrFilter_98_1182655999" value="Y" class="option">
                                        <label for="arrFilter_98_1182655999">III кв. 2021 г.</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="arrFilter_98_2493410915" id="arrFilter_98_2493410915" value="Y" class="option">
                                        <label for="arrFilter_98_2493410915">IV кв. 2021 г.</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="arrFilter_98_2041659290" id="arrFilter_98_2041659290" value="Y" class="option">
                                        <label for="arrFilter_98_2041659290">III кв. 2022 г.</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="arrFilter_98_281082452" id="arrFilter_98_281082452" value="Y" class="option">
                                        <label for="arrFilter_98_281082452">III кв. 2023 г.</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="arrFilter_98_591242005" id="arrFilter_98_591242005" value="Y" class="option">
                                        <label for="arrFilter_98_591242005">IV кв. 2022 г.</label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="checkboxes" data-for="advantages">
                            <label for="advantages">Дополнительно</label>
                            <input class="toggle" type="checkbox" name="arrFilter_115_2367533627" id="arrFilter_115_2367533627" value="Y">
                            <label class="toggle" for="arrFilter_115_2367533627">Отделка</label>
                        </li>
                        <li class="submit">
                            <button type="submit">Найти квартиру</button>
                        </li>
                    </ul>
                </form>