extends ../template

block variables
  - var title = 'ЛК Личные данные'

block content
    main.components-container
        .stream-wide
            section.header-with-caption
                h1 Личный кабинет
                p.subtitle В этом разделе отображается вся информация о вашем агентстве.
                .submenu
                    ul
                        li
                            a.current(href="lk-data.html") Личные данные
                        li
                            a(href="lk-staff.html") Сотрудники
        .stream-wide